{include file="common/sub_left" /}
<div id="content"> 
    <div class="main mainpro"> 
     <div class="banpro"> 
      <img width="100%" src="{$__CHANNEL__.image}"> 
      <div class="banpro-box-md"> 
       <p>{$__ARCHIVES__.title}</p>
       
      </div> 
     </div> 
     <div class="prowrap"> 
      <div class="colB1-detail"> 
       <div class="operation-content The-content-area"> 
        <div>{$__ARCHIVES__.content}</div>
        <!-- <div class="item-01"> 
         <h2>顾客满意</h2> 
         <p>保持认真、负责、诚恳的态度，提供消费者亲切的购物环境、优质的商品、多元便利的服务。怀着无比的信心开创“全家就是你家”的新世纪。</p> 
        </div>  -->
        {cms:paramelist name="$title"  id="param" addon="content"}
        {notempty name="$param.images"}
            {volist name="$param.images|explode=',',###" id="image"}
            <div class="item-{$image|cdnurl}"> 
                <h2>{$param.intro[$key]['info']}</h2> 
                <p>{$param.intro[$key]['txt']}</p> 
            </div> 
            {/volist}
        {/notempty}
        {/cms:paramelist}
       </div> 
      </div> 
     </div> 
    </div> 
   </div>      
   
   {include file="common/foot" /}