</div>
<!-- content --> 
<!--页脚开始--> 
<div class="breakbox cf"> 
 <div class="breakbox-box"> 
  <p class="footer-text1">{$site.beian}</p> 
  <!-- <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202013095"><img src="__CDN__/template/default2/images/gongan.png">沪公网安备 31011202013095号</a></p>  -->
  <!-- <p class="footer-text2"><a href="javascript:;" onclick="contactUs()">联系我们</a>|<a href="/faq">常见问题</a></p>  -->
 </div> 
</div> 
<!--页脚结束-->  
<!--二维码开始--> 

<script type="text/javascript" src="__CDN__/template/default2/js/swiper.min.js"></script> 
<script type="text/javascript" src="__CDN__/template/default2/js/global.js"></script> 
<script type="text/javascript" src="__CDN__/template/default2/js/common.js"></script> 
<script type="text/javascript" src="__CDN__/template/default2/js/baidu.js"></script> 
<script type="text/javascript" src="__CDN__/template/default2/js/product.pop.js"></script> 
<script type="text/javascript" src="__CDN__/template/default2/js/lazyload.js"></script>   
</body>
</html>