blockquote,
body,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
label,
li,
ol,
p,
strong,
table,
td,
th,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

li,
ol,
ul {
    list-style: none
}

button,
input {
    margin: 0;
    font-size: 12px;
    vertical-align: middle
}
img{
    vertical-align: top;
}
body {
    font-size: 14px;
    margin: 0 auto;
    color: #333;
    background: #f8f8f8;
    font-family: Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #004d84
}

.fl {
    float: left
}

.fr {
    float: right
}

.cf {
    clear: both
}

.tl {
    text-align: left
}

.tc {
    text-align: center;
    width: 100%
}

.tc img {
    margin: 0 auto
}

.tr {
    text-align: right
}

.none {
    display: none
}

.red {
    color: #cb3341
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
body,
html {
    height: 100%
}

.wrap {
    max-width: 1920px;
    min-width: 1100px;
    margin: 0 auto;
    position: relative
}

.side {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    background: #fff;
    border-right: 1px solid #d5d5d5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.subnav {
    margin-left: 33px;
    padding-bottom: 20px;
}

.topside {
    width: 100%;
    overflow: hidden
}

.side .back {
    display: inline-block;
    margin: 20px 0;
    padding-left: 10px;
    font-size: 13px;
    color: #828282;
    background: url(../images/return_ct.png) no-repeat left center;
    cursor: pointer
}

.side .logo {
    display: block;
    /* background: url(../images/logo.png) no-repeat center; */
    background: url(../images/2.png) no-repeat center;
    background-size: contain;
    width: 180px;
    height: 21px;
    margin: 40px 0 60px 33px;
}

.nav {
    margin-left: 33px;
    padding-bottom:20px;
}

.nav li.nav-item {
    margin-bottom: 30px;
    padding-top: 5px;
    font-size: 16px;
    padding-left: 40px
}

.nav li.active .toptitle a{
    color: #008dd3
}

.toptitle {
    padding-bottom: 5px;
    display: block;
    color: #858585
}

.nav li.nav-item a {
    color: #333;
}

.nav li.guqj {
    background: url(../images/top_01.png) no-repeat 0 2px;
    background-size: 28px auto
}

.nav li.mwxs {
    background: url(../images/top_02.png) no-repeat 0 2px;
    background-size: 28px auto
}

.nav li.blsh {
    background: url(../images/top_03.png) no-repeat 0 2px;
    background-size: 28px auto
}

.nav li.jmhz {
    background: url(../images/top_04.png) no-repeat 0 2px;
    background-size: 28px auto
}

.nav li.rczp {
    background: url(../images/top_05.png) no-repeat 0 2px;
    background-size: 28px auto
}

.nav li.nav-item a:hover {
    color: #008dd3
}

.drop {
    padding-top: 8%;
    display: none
}

.drop li{
    margin-bottom: 10px;
}
.drop a {
    font-size: 14px
}

.nav li.nav-item.active .drop {
    display: block
}

.topsubtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.topsubtitle a {
    display: inline-block;
    padding-right: 5px;
    color: #008dd3
}

.subnav li {
    font-size: 14px;
    margin-bottom:10px;
}

.subnav li a {
    color: #858585
}

.subnav li a:hover,
.subnav li.on a {
    color: #008dd3
}

.main {
    margin-left: 250px;
    position: relative
}

.banpro img {
    width: 100%
}

.btm-img {
    margin-top: 40px
}

.btm-img img {
    margin: 0 auto
}

.breakbox {
    /* background: #008cd6; */
    background: #fbd101;
    height: 65px;
    width: 100%;
    position: relative
}

.breakbox-box {
    position: absolute;
    top: 50%;
    right: 2%;
    margin-top: -10px;
    color: #fff
}

.breakbox-box p {
    float: left
}

.breakbox-box a {
    color: #fff;
    display: inline-block
}
.breakbox-box a:hover{
    opacity: .8;
}

.footer-text1 a {
    margin-left: 10px;
    margin-right: 20px
}

.footer-text2 a {
    margin: 0 15px
}

.box01-side{
    width: 100%;
    background: #fff;
}
.box01-content{
    width: 200px;
    margin-left: 25px;
}
.box01-content .city-selector{
    margin-bottom: 15px;
}
.searchbox-fl {
    margin-bottom: 30px;
    overflow: hidden
}

.searchbox {
    height: 36px;
    background: #f2f2f2;
    border-radius: 100px;
    position:relative;
    text-align:left;
    padding-left: 20px;
}

.searchbox-lp {
    overflow: hidden;
    position: relative
}
select::-ms-expand{ display: none; }
.searchbox-sc {
    height: 33px;
    width: 80px;
    color: #a2a2a2;
    border: 0;
    background: 0 0;
    padding-left: 17px;
    float: left;
    font-size: 14px;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 33px;
    background: url(../images/xjt.jpg) no-repeat 54px 9px
}

.searchbox .tet {
    width: 148px;
    height: 100%;
    border: none;
    background: 0 0;
    text-align: left;
}
.searchbtn {
    background: url(../images/searchbig.png) no-repeat center center;
    width: 36px;
    height: 36px;
    background-size: 18px 18px;
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}

.sharelink {
    overflow: hidden;
    padding-left: 10px;
}

.sharelink .item {
    float: left;
    width: 50px;
    margin: 0 20px 20px 0;
    text-align: center;
    color: #525252;
    font-size: 12px;
    cursor: pointer
}
.sharelink .item a{
    color:#525252;
}

.sharelink .item p {
    margin-top: 5px
}

.sharelink .icon-type-1 {
    width: 35px;
    height: 35px
}

.sharelink .icon-type-2 {
    width: 41px;
    height: 40px
}

.sharelink .icon {
    display: inline-block
}

.sharelink .item-1 .icon {
    background: url(../images/call_01.png) no-repeat
}

.sharelink .item-2 .icon {
    background: url(../images/call_03.png) no-repeat
}

.sharelink .item-3 .icon {
    background: url(../images/call_wechat.jpg) no-repeat
}

.sharelink .item-4 .icon {
    background: url(../images/call_04.png) no-repeat
}

.sharelink .item-5 .icon {
    background: url(../images/call_05.png) no-repeat
}
.sharelink .item-6 .icon {
    background: url(../images/call_douyin.jpg) no-repeat
}

.sharelink .item-7 .icon {
    background: url(../images/call_weibo.jpg) no-repeat
}
.sharelink .item-7 {
    margin-right:0
}
.sharelink .item-3 .icon,.sharelink .item-6 .icon,.sharelink .item-7 .icon{
    background-size:100%;
    margin: 0 auto;
}

.qrcode {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: absolute;
    padding: 5px;
    z-index: 100;
    left: 0;
    top: 0;
    display: none;
    color: #333
}

.qrcode:after {
    content: '';
    display: block;
    width: 30px;
    height: 17px;
    background: url(../images/tb.png) no-repeat;
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -15px
}

.qrcode div {
    float: left;
    margin-right: 10px;
    text-align: center
}

.qrcode p {
    margin-top: 6px;
    font-size: 12px
}

.qrcode div:last-child {
    margin-right: 0
}

.fixed {
    position: absolute;
    bottom: 10px
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0
}

.product-Suspended-layer {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    display: none
}

.product-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: 434px;
    margin: -217px 0 0 -425px;
    background: #f7f7f7;
    overflow: hidden;
    box-sizing: border-box;
    padding: 7px;
    color: #333
}

.product-box .prod-img {
    width: 420px;
    height: 420px;
    background: #fff;
    float: left;
    display: table;
    table-layout: fixed;
}

.product-box .prod-img .img-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.product-box .prod-content {
    width: 416px;
    padding: 94px 65px 0 50px;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.product-box h4 {
    font-size: 21px
}

.product-box .price {
    color: red;
    font-size: 15px;
    margin: 20px 0
}

.product-box .desc {
    color: #333;
    font-size: 14px;
    line-height: 1.8
}

.product-box .close-btn {
    display: block;
    width: 33px;
    height: 33px;
    background: url(../images/remove.png) no-repeat;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer
}

.product-list {
    padding: 55px 0;
    margin: 0 auto;
    overflow: hidden;
    width: 1160px
}

.product-item {
    width: 186px;
    background-color: #fff;
    text-align: center;
    padding: 8px 8px 0px 8px;
    cursor: pointer;
    height: 264px;
    /*transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease*/
}

.product-item:hover {
    /*-webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px)*/
}

.product-item img {
    max-width: 100%;
}
.product-item .prod-pic{
    width: 186px;
    height: 186px;
    overflow: hidden;
}
.product-item .pic-wrap{
    text-align: center;
}
.product-item span {
    display: block;
    margin-top: 10px;
    height:20px;
    overflow: hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
}

.product-item em {
    display: block;
    color: red;
    padding-top: 6px;
    font-style: normal
}

.product-list .product-item {
    float: left;
    margin: 0 15px 30px 15px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, .08);

}

#commom_popup{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#commom_popup,#commom_popup2{ display: none; position: fixed; z-index: 10000; background: #fff; width: 478px; height: 299px; top:50%!important; left: 50%; margin: -150px 0 0 -239px;border-radius: 10px;-webkit-border-radius: 10px;}
#commom_popup_close,#commom_popup_close2{position: absolute; right: 14px; top:14px; width: 33px; height: 33px; text-indent: -9999px;background: url(../images/remove.png) no-repeat;}
#commom_popup_inner,#commom_popup_inner2{ position: absolute; width: 100%; line-height: 30px; top: 130px; left: 0; text-align: center; font-size: 16px;}
#onload_cover{ display:none; width:100%; height:100%; position:absolute; left:0px; top:0; z-index: 20; background:#333; opacity: 0.5; filter:alpha(opacity=50);}
#onload_cover1{ display:none; width:100%; height:100%; position:absolute; left:0px; top:0; z-index: 18; background:#333; opacity: 0.5; filter:alpha(opacity=50);}
/*loading*/
#circle {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,151,210,0.9);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #0097d2;
    width:50px;
    height:50px;
        margin:0 auto;
    position:fixed;
        left:30px;
        bottom:30px;
    -moz-animation:spinPulse 1s infinite ease-in-out;
    -webkit-animation:spinPulse 1s infinite ease-in-out;
    -o-animation:spinPulse 1s infinite ease-in-out;
    -ms-animation:spinPulse 1s infinite ease-in-out;

}
#circle1 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,151,210,0.9);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 15px #0097d2;
    width:30px;
    height:30px;
        margin:0 auto;
        position:fixed;
        left:40px;
        bottom:40px;
    -moz-animation:spinoffPulse 1s infinite linear;
    -webkit-animation:spinoffPulse 1s infinite linear;
    -o-animation:spinoffPulse 1s infinite linear;
    -ms-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #505050;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #505050; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-o-keyframes spinPulse {
    0% { -o-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #505050; }
    50% { -o-transform:rotate(145deg); opacity:1;}
    100% { -o-transform:rotate(-320deg); opacity:0; }
}
@-o-keyframes spinoffPulse {
    0% { -o-transform:rotate(0deg); }
    100% { -o-transform:rotate(360deg); }
}
@-ms-keyframes spinPulse {
    0% { -ms-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #505050; }
    50% { -ms-transform:rotate(145deg); opacity:1;}
    100% { -ms-transform:rotate(-320deg); opacity:0; }
}
@-ms-keyframes spinoffPulse {
    0% { -ms-transform:rotate(0deg); }
    100% { -ms-transform:rotate(360deg); }
}

.home{
    background: #fff;
}
.swiper-container-product{
    position: relative;
}
.colC1-detail{
    width: 98%;
    padding-top: 20px;
    overflow: hidden;
    margin:0 auto;
}
.colC1-detail a{
    display: block;
    width: 31.8%;
    margin:0 0.76%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}
.colC1-detail a {
    transition:all .5s;
    -webkit-transition:all .5s;
    -ms-transition:all .5s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.13);
}
.colC1-detail img{
    width: 100%;
}

.colC1-detail a:hover{
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -o-transform:translateY(-10px);
    transform:translateY(-10px)
}
.colC2-detail{
    padding:65px 0 70px 0;
    background:#fff;
}
.colC2-detail .content-box{
    width: 790px;
    margin: 0 auto;
    color: #888;
    font-size: 18px;
    overflow:hidden;
}
.colC2-detail .col{
    float: left;
}
.colC2-detail .col img{
    width: 280px;
}
.colC2-detail .col-1{
    width: 474px;
    margin-right: 35px;
    padding-top: 15px;
    box-sizing: border-box;
    padding-left: 15px;
}
.colC2-detail h2{
    margin-bottom: 25px;
    font-size: 22px;
    color: #333;
    font-weight: 400;
}
.colC2-detail p{
    margin-bottom: 25px;
}
.colC2-detail .row-2{
    margin-top: 20px;
}
.colC2-detail .get-card-btn{
    font-size: 16px;
    color:#008cd6;
    border: 1px solid #008cd6;
    border-radius: 100px;
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 25px;
    transition: all .2s ease;
}
.colC2-detail .get-card-btn:hover{
    background: #008cd6;
    color: #fff;
}

.colC3-detail{
    background-color: #f7f7f7;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}
.colC3-detail-bd{
    position: relative;
}
.colC4-detail{
    background-color: #fff;
}
.more-btn{
    color:#1897dd;
    display: inline-block;
    padding-right: 10px;
    background: url(../images/ct.png) no-repeat right center;
}
.more-btn:hover{
    opacity: 0.8;
}
.colC2-detail .more-btn{
    font-size: 18px;
    color: #bdac84;
    background-image: url(../images/st.png);
}
.col-detail-hd{
    color: #333;
    padding: 50px 0;
    text-align: center;
}
.col-detail-hd h2{
    font-size:22px;
    margin-bottom: 20px;
    font-weight: 400;
}
.col-detail-hd p{
    font-size: 16px;
    color: rgba(0,0,0,0.56);
}
.col-detail-hd .more-btn{
    margin-left: 10px;
}
.colC3-detail-box-ls{
    margin:45px auto;
    overflow: hidden;
}
.active-page .col-detail-hd{
    padding-bottom: 30px;
}
.product-container{
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
}

.swiper-container-product{
    overflow-y: visible;
    padding-top: 7px;
}
.swiper-container-product .swiper-slide{
    width: 197px;
    cursor: pointer;
}

.prod-swiper-btn{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    cursor: pointer;
    opacity: .6;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.prod-swiper-btn.swiper-button-disabled{
    opacity: .2!important;
    transform:translateX(0)!important;
    cursor: default;
}
.prod-swiper-btn:hover{
    opacity: 1;
}
.prod-btn-prev{
    left: -70px;
    background: url(../images/doc-lt.png) no-repeat;
}
.prod-btn-next{
    right: -70px;
    background: url(../images/doc-rt.png) no-repeat;
}
.prod-btn-prev:hover{
    transform:translateX(-5px);
}
.prod-btn-next:hover{
    transform:translateX(5px);
}

.colC4-detail-box{
    padding-bottom: 30px;
    overflow:hidden;
}
.colC4-detail-box>div{
    width:48%;
    float: left;
    margin: 1%;
}
.colC4-detail-box-ab{
    position: relative;
}
.colC4-detail-box-pr{
    width: 100%;
    background:rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    padding: 18px 30px;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.colC4-detail-box-pr h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.colC4-detail-box-pr p{
    font-size: 16px;
}
.colC4-detail-box-ab img{
    width: 100%;
    display: block;
}

.swiper-button-prev{
    background-image:url(../images/jt_lt.png);
    opacity: .4;
}
.swiper-button-next{
    background-image:url(../images/jt_rt.png);
    opacity: .4;
}
.swiper-pagination-bullet{
    width:8px;
    height:8px;
    background:#fff;
    opacity:1;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0 4px;
}
.swiper-pagination-bullet-active{
    background:#72afcc;
}
.swiper-button-prev:hover{
    opacity: .8;
}
.swiper-button-next:hover{
    opacity: .8;
}

.nav li a.active{
	color:#008dd3;
}

.loading-txt{
    width: 200px;
    font-size: 14px;
    color: #999;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-50px 0 0 -100px;
}
@media screen and (min-width:900px) and (max-width:1350px) {
    .colC3-detail-box-ls {
        overflow: hidden;
        min-width: 866px;
        height: 266px;
        max-width: 900px
    }
}

@media screen and (max-width:1200px) {
    .colC4-detail-box>div {
        margin: .6%
    }
    .colC4-detail-box-pr{
        padding:12px 20px;
    }

    .colC4-detail-box-pr h4 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px
    }

    .colC4-detail-box-pr p {
        font-size: 12px
    }

    .product-list {
        width: 696px
    }
    .banpro .banpro-box{
        margin-top: -42px;
    }
    .banpro .banpro-box h2{
        font-size: 30px;
    }
    .banpro .banpro-box-md{
        margin-top: -20px
    }
    .banpro.banpro_plan .banpro-box-md{
        margin-top: -43px
    }
    .banpro .banpro-box-md p{
        font-size: 30px;
        color: #fff;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .colC4-detail-box>div {
        margin: .8%
    }

    .colC4-detail-box-pr{
        padding:13px 24px;
    }

    .colC4-detail-box-pr h4 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 6px
    }

    .colC4-detail-box-pr p {
        font-size: 14px
    }

    .product-list {
        width: 696px
    }
    .banpro .banpro-box{
        margin-top: -44px;
    }
    .banpro .banpro-box h2{
        font-size: 34px;
    }
    .banpro .banpro-box-md{
        margin-top: -22px
    }
    .banpro.banpro_plan .banpro-box-md{
        margin-top: -43px
    }
    .banpro .banpro-box-md p{
        font-size: 34px;
        color: #fff;
    }
}

@media screen and (min-width:1400px) and (max-width:1600px) {
    .colC4-detail-box>div {
        margin: .8%
    }

    .colC4-detail-box-pr h4 {
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 10px
    }

    .colC4-detail-box-pr p {
        font-size: 12px
    }

    .product-list {
        width: 928px
    }
    .banpro .banpro-box{
        margin-top: -45px;
    }
    .banpro .banpro-box h2{
        font-size: 36px;
    }
    .banpro .banpro-box-md{
        margin-top: -24px
    }
    .banpro.banpro_plan .banpro-box-md{
        margin-top: -43px
    }
    .banpro .banpro-box-md p{
        font-size: 36px;
        color: #fff;
    }
}

@media screen and (min-width:1600px) and (max-width:1800px) {
    .colC4-detail-box-pr h4 {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 10px
    }

    .colC4-detail-box-pr p {
        font-size: 14px
    }
    .banpro .banpro-box{
        margin-top: -47px;
    }
    .banpro .banpro-box h2{
        font-size: 38px;
    }
    .banpro .banpro-box-md{
        margin-top: -25px
    }
    .banpro.banpro_plan .banpro-box-md{
        margin-top: -43px
    }
    .banpro .banpro-box-md p{
        font-size: 38px;
        color: #fff;
    }
}

@media screen and (min-width:1360px) and (max-width:2000px) {
    .colC3-detail-box-ls {
        max-width: 1074px;
        min-width: 1074px
    }
}

/* 选择城市弹窗 20220830 */
.commom_popup_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
.commom_popup_bg #commom_popup {
    display: block;
    position: fixed;
    z-index: 10000;
    background: #fff;
    width: 478px;
    height: 299px;
    top: 50%!important;
    left: 50%;
    margin: -150px 0 0 -239px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.commom_popup_bg #commom_popup {
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}
.popup_in {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 888;
    text-align: center;
    align-items: center;
    line-height: 2;
    font-size: 16px;
}

.popup_in_box {
    margin: 0 auto;
}
.popup_in h5,.popup_in select,.popup_in a {
    display: block;
}

.popup_in h5 {
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.popup_in select {
    padding: 10px;
    margin: 20px 0 30px;
    width: 220px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #666;
}

.popup_in a {
    display: inline-block;
    color: #fff;
    border: 1px solid #1bb630;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 5px 55px;
    transition: all .2s ease;
    background: #1bb630;
}
